* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, Helvetica, sans-serif;
}
/* Fix the button on the left side of the page */
.open-btn {
  display: flex;
  justify-content: left;
}

/* Position the Popup form */
.popup {
  position: relative;
  text-align: center;
  width: 100%;
}
/* Hide the Popup form */
.form-popup {
  display: none;
  width: 50%;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-45%, 5%);
  border: 2px solid #666;
  z-index: 9;
}
/* Styles for the form container */
.form-container {
  /* max-width: 300px; */
  padding: 20px;
  background-color: #fff;
}
/* Full-width for input fields */
.form-container input[type="text"], input[type="checkbox"]
select {
  width: 100%;
  padding: 10px;
  margin: 1px 0 22px 0;
  border: none;
  background: #eee;
}
/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,, input[type="checkbox"]:focus
select:focus {
  background-color: #ddd;
  outline: none;
}

/* Hover effects for buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.loadingSpinner {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
}

.form-container {
  text-align: left;
}

label {
  margin-bottom: 0em !important;
}

.form-group {
   margin-bottom: 0rem; 
}